/* MOOD STYLESHEET */

/* MOBILE STYLING */
body {
  background: #262426;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  color: #E9DCC0;
  font-size: 1rem;
  letter-spacing: 3px;
  text-align: center;
}

/* -----HEADER-----  */
header {
  background: #852628;
  padding: 10px;
  border-bottom-color: #968E7C;
  border-bottom-style: double;
}

img {
  width: 200px;
  padding: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.write-up {
  margin: 0px 0px 0px 0px;
  padding: 50px;
}

button {
  margin-top: 40px;
  margin-bottom: 50px;
}

.image-adj {
  width: 100px;
}

.font-adj {
  font-size: 2rem;
}

/*----- PLAYLIST RESULTS -----*/
#result-container {
  border-top-color: #968E7C;
  border-top-style: double;
  margin-top: 50px;
  background: #474647;
}



.playlist {
  margin-top: 100px;
}

img#logo {
  width: 200px;
}

img {
  width:100px;
}

.song-img-head-room {
  margin-top: 50px;
}

video {
  margin-top: -100px;
}

/*----- FOOTER -----*/
footer {
  padding-top: 30px;
  border-top-color: #968E7C;
  border-top-style: double;
}
